<?xml version="1.0" encoding="utf-8"?>
<configuration>
      <appSettings>
        <add key="发件箱地址" value="services@mvs.com.cn" />
        <add key="发件箱显示名" value="CSMP" />
        <add key="发件箱密码" value="mvspass" />
        <add key="发件箱端口" value="25" />
        <add key="发件箱主机信息" value="smtp.exmail.qq.com" />
        <add key="收件人列表" value="bhuaxia@163.com;" />
        <add key="抄送人列表" value="zhanglin2@mvs.com.cn" />


        <add key="触发邮件品牌ID列表" value="468,472,477,478" />
      </appSettings>
    <system.web>
      
    </system.web>
</configuration>
