<?xml version="1.0" encoding="utf-8"?>
<configuration>
      <appSettings>
        <add key="发件箱地址" value="baojing@mvs.com.cn" />
        <add key="发件箱显示名" value="CSMP报警" />
        <add key="发件箱密码" value="!Q@W3e4r%T^Y7u8i" />
        <add key="发件箱端口" value="25" />
        <add key="发件箱主机信息" value="smtp.exmail.qq.com" />


      </appSettings>
    <system.web>
      
    </system.web>
</configuration>
