body {
	font-size: 12px;
	font-weight: bold;
	color: #2a638e;
	margin: 0;
	background-color: #002974;
	background-image: url(/images/double_star.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
}

.bg_light{
	background-image: url(/images/BG-light.png);
	background-repeat: no-repeat;
	background-position: center top;
}

.bg_word{
	background-image: url(/images/BG-word.png);
	background-repeat: no-repeat;
	background-position: center top;
}

.input{
	width: 100px;
	height: 16px;
	border: 1px solid #69afc5;
	color: #0b4d7e;
}

.input2{
	width: 40px;
	height: 16px;
	border: 1px solid #69afc5;
	color: #0b4d7e;
}

