
BODY
{
	font-size: 14px;
	font-family: "宋体";
}
OL LI
{
	margin: 8px;
}
#con
{
	font-size: 12px;
	margin: 0px auto;
}
#tags
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px 0px 0px 20px;
	padding-top: 0px;
	height: 23px;
}
#tags LI
{
	float: left;
	margin-right: 1px;
	list-style-type: none;
	height: 23px;
}
#tags LI A
{
	padding-right: 10px;
	padding-left: 10px;
	float: left;
	padding-bottom: 0px;
	color: #999;
	line-height: 23px;
	padding-top: 0px;
	height: 23px;
	text-decoration: none;
}
#tags LI.emptyTag
{
	background: none transparent scroll repeat 0% 0%;
	width: 4px;
}
#tags LI.selectTag
{
	background-position: left top;
	margin-bottom: -2px;
	position: relative;
	height: 25px;
}
#tags LI.selectTag A
{
	background-position: right top;
	line-height: 25px;
	height: 25px;
	color: Red;
}
#tagContent
{
	border-right: #FFFFFF 1px solid;
	padding-right: 1px;
	border-top: #FFFFFF 1px solid;
	padding-left: 1px;
	padding-bottom: 1px;
	border-left: #FFFFFF 1px solid;
	padding-top: 1px;
	border-bottom: #FFFFFF 1px solid;
	background-color: #FFFFFF;
	width: 270px;
	margin: 0 0 0 20px;
}
.tagContent
{
	padding-right: 10px;
	display: none;
	padding-left: 10px;
	padding-bottom: 10px;
	color: #474747;
	padding-top: 10px;
	height: 115px;
	width: 270px;
}
#tagContent DIV.selectTag
{
	display: block;
}
